<div class="flip-card-outer">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h1>Card Front</h1>
      </div>
      <div class="flip-card-back">
        <h1>Card Back</h1>
      </div>
    </div>
  </div>
  <div class="center-horizontal">
    <p class="btn btn-primary next-button">Next</p>
  </div>
</div>

