<div class="center-vertical">
  <div class="center-horizontal">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h1>Card Front</h1>
        </div>
        <div class="flip-card-back">
          <h1>Card Back</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".flip-card").click(function() {
    $(this).addClass("clicked");
  });
</script>