<div class="center-vertical">
  <div class="center-horizontal">
    <div class="form-container">
      <%= simple_form_for @category do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

